@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;1,200&display=swap');
body {  
  background-color: #10111a;
  /* #00171f; */
}

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Taviraj', serif;
}

