@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
  margin: 0;
  font-family: 'Crimson Text', serif;
}

.map-container {
  height: 80%;
  position: relative;
}

.control-panel {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 300px;
  margin: 20px;
  font-size: 14px;
  line-height: 2;
  color: white;
  outline: none;
  text-transform: uppercase;
}

label {
  display: inline-block;
  width: 200px;
}

.input.disabled {
  opacity: .5;
}

.custom-card {
  background-color: #161a1d;
  color: white;
  border-radius: 20px;
  opacity: 0.94;
  padding: 10px;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.2);
}

hr {
  border: none;
  border-top: 2px solid black;
  width: 250px;
  opacity: 0.3;
}

.marker-btn {
  background-color: #370617;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 40px;
  opacity: 0.8;
  animation: glow 2s infinite alternate;
}


/* Marker tweaks */

/* Remove the close button */
.mapboxgl-popup-close-button {
  display: none;
}

/* Content box */
.mapboxgl-popup-content {
  color: green;
  background-color: #161a1d;
  opacity: 0.9;
  box-shadow: 3px 3px 2px rgb(199, 199, 199);
  border-radius: 20px;
  padding-top: 0;
  margin-top: 0;
}

.mapboxgl-popup-content-wrapper {
  padding: 0%;
}

/* Tip of the popup pointing to the position */
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: black;
    display: none;
    }

.header {
  padding: 3px;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 10px;
  color: white;
  text-align: center;
}

.subhead {
  color: white;
  text-align: center;
  font-size: 18px;
}