:root {
  --red-colour: #370617;
  --black-colour: #161a1d;
  --white-colour: #f7ede2;;
}


/*****************************/
/********* Containers ********/
/*****************************/

/* Main container for the chart and text */
#chart-and-steps-concentric{
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
}

/* Graph container */
#chart-wrapper-concentric {
  overflow: hidden;
}

/* Cards container */
#scroll-steps-concentric {
  z-index: 2; /* want it to be on top of the graph if they overlap */
}


/*****************************/
/******** Card Styles ********/
/*****************************/

/* Styles for the info boxes */
.step {
  margin-bottom: 70vh;
  opacity: 0.2;
  font-size: 16px;
}

#step-12 {
  margin-bottom: 30vh;
}

.info-card {
  margin: auto;
  text-align: left;
  padding: 15px;
  border-radius: 20px;
  border: 4px solid var(--red-colour);
  color: var(--black-colour);
  background-color: var(--white-colour);
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.earthquake-name {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.earthquake-name-ja {
  text-align: center;
  margin-bottom: 10px;
}

.info-card .earthquake-name-ja {
  color: rgba(0, 0, 0, 0.6);
}

.info-card .earthquake-date {
  text-transform: uppercase;
}

.info-card .number {
  font-weight: bold;
}

.info-card hr {
  text-align: center;
  border: 0;
  border-bottom: 2px solid var(--red-colour);
  border-radius: 15px;
  width: 100%;
  opacity: 0;
}

.info-year {
  font-size:28px;
  text-align: center;
  padding: 0;
  color: var(--white-colour)
}

.earthquake-date, .magnitude, .deaths {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

/* when cards are active make them visible */
.active {
  opacity: 1 !important;
}

/*****************************/
/******* Legend Styles *******/
/*****************************/

#legend {
  width: 100%;
  max-width: 800px;
  color: var(--white-colour);
  text-align: center;
  margin: auto;
  margin-bottom: 140px;
  /* border: 2px solid red; */
}

.legend-grid-magnitudes, .legend-grid-victims {
  display: flex;
  justify-content: space-between;
  min-width: 700px;
  margin: auto;
  align-items: center;
}

@media (max-width: 600px) {
  .legend-grid-magnitudes, .legend-grid-victims {
    min-width: 300px;
  }
}

.legend-explanation-magnitudes, .legend-explanation-victims {
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 200;
  /* width: 100%;
  max-width: 500px; */
}

.legend-explanation-p-victims, .legend-explanation-p-magnitudes {
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

.legend-explanation-title-magnitudes, .legend-explanation-title-victims {
  margin-bottom: 7px;
  padding: 0px;
  font-weight: bold;
  color: var(--white-colour);
  /* text-decoration: underline; */
  font-family: 'Open Sans', sans-serif;
}

.legend-title {
  font-size: 24px;
}


@media(max-width: 1000px) {
  .legend-grid-magnitudes, .legend-grid-victims {
    width: 70%;
  }
}

@media(max-width: 600px) {
  .legend-grid-magnitudes, .legend-grid-victims {
    width: 80%;
    flex-direction: column;

  }
  .legend-explanation-title-magnitudes {
    margin-top: 10px;
    }
  .legend-explanation-title-victims {
    margin-top: -30px;
    }
}
